{% extends "base.html" %}

{% load staticfiles %}

{% block header_ext %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "worldeditor/css/worldeditor.css" %}">
    <script src="{% static "worldeditor/js/worldeditor.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
    <nav class="editor_nav">
        <a class="nav_button" href="{% url 'worlddata:index' %}">Editor</a>
        <a class="nav_button" href="editor/plugins.html">Plugins</a>
		<a class="nav_button" href="editor/tools.html">Tools</a>
	</nav>
	
    <h2>Select plugins:</h2>
    <form method="POST">
        {% csrf_token %}
        {% for plugin in plugins %}
        <p><input type="checkbox" name="plugins" value={{ plugin.key }} /> {{ plugin.name }}</p>
        <input type="submit" value="Set"/>
        <input type="hidden" name="select_plugins"/>
        {% endfor %}
    </form>

{% endblock content %}